# Translator
# Fined Grained Token must have the following permissions:
# - Administration

TRANSLATOR_GITHUB_TOKEN=""
TRANSLATOR_GITHUB_USERNAME="5etools-translator-mirror-3"

# Deployer
# Fined Grained Token must have the following permissions:
# - Administration
# - Contents
# - Pages
# - Variables
# - Secrets
# - Workflows
DEPLOYER_GITHUB_TOKEN=""
DEPLOYER_GITHUB_USERNAME="5etools-translated-mirror-2"